
<section id="image-carousel" class="splide" aria-label="Beautiful Images">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide splide-slide1" style="background-image: var(--bg-image-url);">
                
                <div class="container slider-content-container p-0">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="slider-content">
                                <h1>
                                    Leading the Way in
                                    <strong>Cancer Care</strong>
                                    and Recovery
                                </h1>
                                <a href="#" class="slider-btn"><i class="ti ti-circle-arrow-right-filled"></i> exploring services</a>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                       <div class="col-6">
            
                        </div>
                        <div class="col-md-9 col-lg-7 col-xl-6 award-box">
                            <img src="images/award-1.png" alt="">
                            <p>Combining cutting-edge treatments with compassionate support to guide you through every step of your cancer journey.</p>
                        </div>
                    </div>
                </div>

                <div class="slider-overlay"></div>
            </li>
            <li class="splide__slide splide-slide2"  style="background-image: var(--bg-image-url2);">
                <div class="container slider-content-container p-0">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="slider-content">
                                <h1>
                                    Hope, Healing, and Advanced Personal
                                    <strong>Cancer Care</strong>
                                </h1>
                                <a href="#" class="slider-btn"><i class="ti ti-circle-arrow-right-filled"></i> exploring services</a>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-6">
            
                        </div>
                        <div class="col-md-9 col-lg-7 col-xl-6 award-box">
                            <img src="images/award-1.png" alt="">
                            <p>Combining cutting-edge treatments with compassionate support to guide you through every step of your cancer journey.</p>
                        </div>
                    </div>
                </div>

                <div class="slider-overlay"></div>
            </li>
            <li class="splide__slide splide-slide3"  style="background-image: var(--bg-image-url3);">
               <div class="container slider-content-container p-0">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="slider-content">
                                <h1>
                                    <strong>Fighting Cancer</strong>
                                    With Care, Compassion, and Expertise
                                </h1>
                                <a href="#" class="slider-btn"><i class="ti ti-circle-arrow-right-filled"></i> exploring services</a>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-6">
            
                        </div>
                        <div class="col-md-9 col-lg-7 col-xl-6 award-box">
                            <img src="images/award-1.png" alt="">
                            <p>Combining cutting-edge treatments with compassionate support to guide you through every step of your cancer journey.</p>
                        </div>
                    </div>
                </div>
                <div class="slider-overlay"></div>
            </li>
        </ul>
    </div>
</section>


