
<div class="container p-0">
    <div class="row section-title-row">
        <div class="col-xl-7 section-title text-center mx-auto">
            <span  class="sub-heading">our services</span>
            <h2>we serve in different <b>areas for our patients</b></h2>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-card">
                    <div class="icon">
                        <img src="images/health-care.png" alt="">
                    </div>
                    <h3><a href="">food & nutrition</a></h3>
                    <p>20+ Doctors are available under this department who serve.</p>
                    <a href="" class="services-btn">
                        <i class="ti ti-arrow-right"></i>
                        read more
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-card">
                    <div class="icon">
                        <img src="images/eye.png" alt="">
                    </div>
                    <h3><a href="">ophthalmology</a></h3>
                    <p>20+ Doctors are available under this department who serve.</p>
                    <a href="" class="services-btn">
                        <i class="ti ti-arrow-right"></i>
                        read more
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-card">
                    <div class="icon">
                        <img src="images/dentist.png" alt="">
                    </div>
                    <h3><a href="">dental care</a></h3>
                    <p>20+ Doctors are available under this department who serve.</p>
                    <a href="" class="services-btn">
                        <i class="ti ti-arrow-right"></i>
                        read more
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-card">
                    <div class="icon">
                        <img src="images/syringe.png" alt="">
                    </div>
                    <h3><a href="">surgery</a></h3>
                    <p>20+ Doctors are available under this department who serve.</p>
                    <a href="" class="services-btn">
                        <i class="ti ti-arrow-right"></i>
                        read more
                    </a>
                </div>
            </div>
             <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-card">
                    <div class="icon">
                        <img src="images/bone.png" alt="">
                    </div>
                    <h3><a href="">orthopedic</a></h3>
                    <p>20+ Doctors are available under this department who serve.</p>
                    <a href="" class="services-btn">
                        <i class="ti ti-arrow-right"></i>
                        read more
                    </a>
                </div>
            </div>
             <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-card">
                    <div class="icon">
                        <img src="images/dna.png" alt="">
                    </div>
                    <h3><a href="">neurology</a></h3>
                    <p>20+ Doctors are available under this department who serve.</p>
                    <a href="" class="services-btn">
                        <i class="ti ti-arrow-right"></i>
                        read more
                    </a>
                </div>
            </div>
             <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-card">
                    <div class="icon">
                        <img src="images/pulse.png" alt="">
                    </div>
                    <h3><a href="">cardiology</a></h3>
                    <p>20+ Doctors are available under this department who serve.</p>
                    <a href="" class="services-btn">
                        <i class="ti ti-arrow-right"></i>
                        read more
                    </a>
                </div>
            </div>
             <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-card">
                    <div class="icon">
                        <img src="images/pill.png" alt="">
                    </div>
                    <h3><a href="">medicine & nephro</a></h3>
                    <p>20+ Doctors are available under this department who serve.</p>
                    <a href="" class="services-btn">
                        <i class="ti ti-arrow-right"></i>
                        read more
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>