
<div class="container p-0">
    <div class="row gx-xl-5">
        <div class="col-xl-6">
            <div class="about-content">
                <span class="sub-heading">about hospa</span>
                <h2>
                    we provide finnest patient's
                    <b>care & amenities</b>
                </h2>
                <p>Embrace a world of comprehensive healthcare where your well-being takes center stage. At Meca, we're dedicated to providing you with personalized and compassionate medical services.</p>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6 ps-0  list-box" id="list-box1">
                        <ul class="list">
                            <li>
                                <i class="ti ti-checks"></i>
                                seamless care
                            </li>
                            <li>
                                <i class="ti ti-checks"></i>
                                warm  and welcoming environment
                            </li>
                            <li>
                                <i class="ti ti-checks"></i>
                                comprehensive care
                            </li>
                            <li>
                                <i class="ti ti-checks"></i>
                                expert doctors
                            </li>
                        </ul>
                    </div>
                     <div class="col-md-6 col-lg-6 col-xl-6 list-box" id="list-box2">
                        <ul class="list">
                            <li>
                                <i class="ti ti-checks"></i>
                                patient-centered care
                            </li>
                            <li>
                                <i class="ti ti-checks"></i>
                                personalized approach
                            </li>
                            <li>
                                <i class="ti ti-checks"></i>
                                cutting-edge technology
                            </li>
                            <li>
                                <i class="ti ti-checks"></i>
                                positive reviews
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="about-btn">
                    <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    <a href="" class="default-btn"><i class="ti ti-circle-arrow-right-filled"></i> more about us</a>
                </div>
            </div>
        </div>
        <div class="col-xl-6 d-flex flex-column justify-content-center">
            <div class="about-image">
                <img src="images/about.png" alt="">
                <div class="counter-wrap">
                    <div class="item">
                        <div class="counter-box">
                            <h3 class="sub">22</h3>
                        </div>
                        <p>
                            different 
                            <span>sections</span>
                        </p>
                    </div>
                </div>

                <div class="counter-wrap wrap-two">
                    <div class="item">
                        <div class="counter-box">
                            <h3 class="counter">5</h3>
                            <h3 class="sub">k+</h3>
                        </div>
                        <p>
                            patient's 
                            <span>reviews</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>