
<div class="container p-0">
    <div class="row">
        <div class="col-xl-7">
            <div class="mobile-app-image">
                <img src="images/mobile-app.jpg" alt="">
            </div>
        </div>
        <div class="col-xl-5">
            <div class="mobile-app-content">
                <span class="sub-heading">
                    download app
                </span>
                <h2>Download Our Mobile App For 
                    The 
                    <b>Best Experience</b></h2>
                <div class="app-doctor-info">
                    <img src="images/user.png" alt="">
                    <div class="info-title">
                        <h5>500+ doctors</h5>
                        <span>are available in the app</span>
                    </div>
                </div>
                <ul class="app-btn">
                    <li>
                        <a href="#">
                            <div class="icon">
                                <i class="ti ti-brand-google-play"></i>
                            </div>
                            <div class="title">
                                <span>get it on</span>
                                <h5>google play</h5>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="icon">
                                <i class="ti ti-brand-apple"></i>
                            </div>
                            <div class="title">
                                <span>get it on</span>
                                <h5>apple store</h5>
                            </div>
                        </a>
                    </li>
                </ul>
           </div>
        </div>
    </div>
</div>